body {
  font-family: Poppins, sans-serif;
  background-color: #272044;
}
.container {
  max-width: 1400px;
  max-height: 700px;
  margin: 0 auto;
}
.grid {
  display: grid;
  grid-gap: 64px;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}
.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-3-columns-footer {
  grid-template-columns: 1fr 2fr 2fr;
}
.embed {
  width: 100%;
  aspect-ratio: 1/1;
}
.card {
  background-color: whitesmoke;
  margin: 30px 0;
}
.card-header.grid {
  grid-gap: 0;
}
.card-body {
  padding: 30px;
}
.card-footer {
  padding: 30x;
}
.btn {
  display: block;
  color: whitesmoke;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  padding: 16px;
  background-color: #462cb2;
  text-decoration: none;
}
section {
  margin: 0 auto;
  padding: 90px;
  max-width: 100%;
}
section.secondary {
  background-color: #f8f8f8;
}
section.tertiary img {
  margin-top: 10px;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/Olhao-street.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: whitesmoke;
  text-align: center;
  padding: 200px 0;
}
header h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 1;
  margin: 30px 0;
}
header h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}
header h3 {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.5px;
  letter-spacing: 5px;
  margin: 0;
}
header a {
  background-color: whitesmoke;
  color: #272044;
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 3px;
  margin-top: 32px;
  padding: 16px 32px;
  text-decoration: none;
  text-transform: uppercase;
}
main {
  background-color: whitesmoke;
}
.image-responsive {
  width: 100%;
  display: block;
}
main h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
  color: #272044;
  opacity: 0.3;
  text-transform: uppercase;
}
main h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.5;
  color: #272044;
  margin-bottom: 35px;
}
main p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #272044;
}
main h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  color: #272044;
  margin: 0;
}
main h5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  color: #272044;
  margin: 0;
}
.text-center {
  text-align: center;
}
footer {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url(../images/olhao-landscape.jpg);
  color: whitesmoke;
  background-repeat: no-repeat;
  background-size: cover;
}
footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
footer p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.9;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer a {
  color: whitesmoke;
  opacity: 0.7;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2,
  h3 {
    font-size: 20px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
  section {
    padding: 30px;
    text-align: center;
  }

  main h3 {
    font-size: 20px;
    margin-top: 35px;
    margin-bottom: 30px;
  }

  .card-header img {
    aspect-ratio: 16/9;
  }
  .embed {
    display: none;
  }
}
